<%= form_with model: @website, local: true do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: f.object } %>
    <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :url, class: "form-label", title: "The URL cannot be changed once created.", data: { controller: "tooltip", tooltip_target: "element", bs_toggle: "tooltip", bs_placement: "right" } do %>
            URL
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle mb-1 ms-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                <circle cx="8" cy="4.5" r="1"/>
            </svg>
        <% end %>
        <% if @website.persisted? %>
            <%= f.url_field :url, required: true, placeholder: "https://www.example.com", class: "form-control", disabled: :true %>
        <% else %>
            <div data-controller="url">
                <%= f.url_field :url, required: true, placeholder: "https://www.example.com", class: "form-control", data: { url_target: "input", action: "url#handleChange" } %>
            </div>
        <% end %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Delete Website", website_path(@website), method: :delete, data: { confirm: "This will delete all associated webpages, screenshots and source code." }, class: "btn btn-link text-danger" if @website.persisted? %>
    </div>
<% end %>