<div class="col-md-6 col-lg-4 mb-4">
    <div class="card">
        <% if website.image.attached? %>
            <%= image_tag website.image.variant(resize_to_fill: [480, 480, { gravity: 'North' }]).processed, class: "card-img-top" %>
        <% else %>
            <div class="embed-responsive embed-responsive-1by1 bg-dark d-flex align-items-center justify-content-center">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        <% end %>
        <div class="card-body">
            <h5 class="card-title font-weight-normal text-truncate"><%= website.title %></h5>
            <p class="card-text">
                <%= link_to website.url, target: "_blank", class: "d-flex align-items-center" do  %>
                    <span class="mr-2"><%= website.url %></span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
                        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                    </svg>
                <% end %>
            </p>
            <div class="btn-group">
                <%= link_to "View", website, class: "btn btn-sm btn-primary" %>
                <%= link_to "Edit", edit_website_path(website), class: "btn btn-sm btn-primary" %>
            </div>
        </div>
    </div>
</div>