<% content_for :page_title do %>
    <% @website.title %>
<% end %>
<% content_for :page_title_button do %>
    <%= render partial: "websites/url", locals: { url: @website.url }  %>
<% end %>
<% content_for :column_one do %>
    <div class="row">
        <%= render @webpages %>
    </div>   
    <%= turbo_stream_from(@website.user, :zone_files) %>
    <% if @website.latest_zone_file.present? %>
        <%= render partial: "zone_files/zone_file", locals: { zone_file:  @website.latest_zone_file, link_to_index: true, headline: "Current DNS Records" } %>
    <% else %>
        <div id="archive_zone_file" class="d-flex justify-content-center align-items-center mb-4">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span class="ms-3">Retrieving DNS Records. Check back later.</span>
        </div>
    <% end %> 
<% end %>
<% content_for :column_two do %>
    <% if policy(@website.webpages.build).new? %>
    <h5 class="text-secondary mb-4 border-bottom pb-3">Add a webpage to monitor</h5>
    <div class="card shadow-sm border-0 mb-5">
        <div class="card-body">
            <%= render partial: "webpages/form" %>
        </div>
    </div>
    <% end %>
<% end %>
