<% content_for :page_title do %>
    <% @website.title %>
<% end %>
<% content_for :page_title_button do %>
    <%= render partial: "websites/url", locals: { url: @website.url }  %>
<% end %>
<% content_for :column_one do %>
    <% if @website.latest_zone_file.present? %>
        <h5 class="text-secondary mb-3 border-bottom pb-3">Current DNS Records</h5>
        <div class="card border-0 shadow-sm mb-5">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="">
                                <th scope="col">Record Type</th>
                                <th scope="col">Content</th>
                                <th scope="col">Priority</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= render partial: "dns_records/dns_record", collection: @website.latest_zone_file.dns_records.ordered.unique, as: "dns_record" %>
                        </tbody>
                    </table>
                </div>
                <%= link_to "View Previous Records", website_zone_files_path(@website), class: "text-secondary" %>
            </div>
        </div>
    <% else %>
        <div class="d-flex justify-content-center align-items-center mb-4">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="ml-3">Retrieving DNS Records. Check back later.</span>
        </div>
    <% end %>
    <div class="card-deck justify-content-center">
        <%= render @webpages %>
    </div>    
<% end %>
<% content_for :column_two do %>
    <% if policy(@website.webpages.build).new? %>
    <h5 class="text-secondary mb-3 border-bottom pb-3">Add a webpage to monitor</h5>
    <div class="card shadow-sm border-0 mb-5">
        <div class="card-body">
            <%= render partial: "webpages/form" %>
        </div>
    </div>
    <% end %>
<% end %>
