<% content_for :page_title do %>
  <% resource_name.to_s.humanize %>
<%  end %>
<% content_for :column_two do %>
  <h5 class="mb-4 pb-3 border-bottom text-secondary">Edit my account</h5>
  <div class="card shadow-sm border-0 mb-5">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: "false" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %> <i class="text-secondary">(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            
            <em class="fs-6 text-secondary"><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :current_password, class: "form-label" %> <i class="text-secondary">(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <h5 class="mb-4 pb-3 border-bottom text-danger border-danger">Cancel my account</h5>
  <div class="card border-danger" >
    <div class="card-body text-danger">
        <p>This will delete all your data, and cannot be undone.</p>
        <%= button_to "Cancel my account and subscription", registration_path(resource_name), data: { turbo: "false", confirm: "This will delete all your data, and cannot be undone." }, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>