<% content_for :page_title do "Sign up" end %>
<% content_for :column_one do %>
  <h2 class="">Sign up today for a 30 day free trial.<br/>No credit card required.</h2>
  TODO: Add a video and reasons why a user should sign up
<% end %>
<% content_for :column_two do %>
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3 form-check">
          <%= f.check_box :accepted_terms, required: true, class: "form-check-input" %>
          <%= f.label :accepted_terms, class: "form-check-label form-label" do %>
            I accept the <%= link_to "terms of service", terms_path, target: "_blank" %> and <%= link_to "privacy policy", privacy_path, target: "_blank" %>
          <% end %>
        </div>  

        <div class="mb-3">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

</div>
