<% content_for :page_title do %>
  Start your 14 day free trial
<% end %>
<% content_for :sub_head do %>
  <h2 class="text-secondary fw-light fs-3">Sign up today for free. No credit card required.</h2>
<% end %>
<% content_for :column_one do %>
  <ul class="list-unstyled text-secondary">
    <li class="mb-4 fs-5 fw-light d-flex flex-nowrap">
      <div class="me-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
        <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
      </svg>
      </div>
      <span>Keep track of changes on your site over time through <span class="fw-bold">automated screenshot generation.</span></span>
    </li>
    <li class="mb-4 fs-5 fw-light d-flex flex-nowrap">
      <div class="me-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
        <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
      </svg>
      </div>
      <span>Ensure changes made to your site haven't negatively affected its performance through <span class="fw-bold">automated Google Lighthouse score audits.</span></span>
    </li> 
    <li class="mb-4 fs-5 fw-light d-flex flex-nowrap">
      <div class="me-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
        <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
      </svg>
      </div>
      <span>Avoid the need to restore your site through a backup thanks to our <span class="fw-bold">automated source code downloads.</span></span>
    </li>
    <li class="mb-4 fs-5 fw-light d-flex flex-nowrap">
      <div class="me-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
        <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
      </svg>
      </div>
      <span>Monitor changes in your DNS records through our <span class="fw-bold">automated DNS monitoring.</span></span>
    </li>            
  </ul>
  <a href="https://www.producthunt.com/posts/my-site-archive?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-my-site-archive" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=277120&theme=light" alt="My Site Archive - The simplest way to archive your website. | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
<% end %>
<% content_for :column_two do %>
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: "false" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3 form-check">
          <%= f.check_box :accepted_terms, required: true, class: "form-check-input" %>
          <%= f.label :accepted_terms, class: "form-check-label form-label" do %>
            I accept the <%= link_to "terms of service", terms_path, target: "_blank" %> and <%= link_to "privacy policy", privacy_path, target: "_blank" %>
          <% end %>
        </div>  

        <div class="mb-3">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
