<% if @webpage.persisted? %>
    <%= form_with model: [@website, @webpage], url: website_webpage_path(@website, @webpage), local: true, class: "form-inline", id: dom_id(@webpage) do |f| %>
        <%= render partial: "shared/form_errors", locals: { object: f.object } %>
        <%= f.label :title, class: "mr-2" %>
        <%= f.text_field :title, required: true, class: "form-control mr-2" %>
        <%= f.label :url, class: "mr-2" %>
        <%= f.url_field :url, required: true, value: @website.url, class: "form-control mr-2" %>
        <div class="btn btn-group">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to "Delete Webpage", website_webpage_path(@website, @webpage), method: :delete, class: "btn btn-danger", data: { confirm: "This will delete all associated screenshots and source code." } %>
        </div>
    <% end %>
<% else %>
    <%= form_with model: [@website, @webpage], local: true, class: "form-inline", id: dom_id(@webpage) do |f| %>
        <%= render partial: "shared/form_errors", locals: { object: f.object } %>
        <%= f.label :title, class: "mr-2" %>
        <%= f.text_field :title, required: true, class: "form-control mr-2" %>
        <%= f.label :url, class: "mr-2" %>
        <%= f.url_field :url, required: true, value: @website.url, class: "form-control mr-2" %>
        <%= f.submit class: "btn btn-primary" %>
    <% end %>
<% end %>