<ul class="nav">
  <li class="nav-item">
    <span class="nav-link fw-bolder text-white">About</span>
    <ul class="nav flex-column">
      <% unless current_user%>
        <li class="nav-item">
          <%= link_to "Pricing", pricing_path, class: "nav-link text-white"%>
        </li>
        <li class="nav-item">
          <%= link_to "Demo", demo_path, class: "nav-link text-white"%>
        </li>            
      <% end %>
      <li class="nav-item">
        <%= link_to "FAQs", faqs_path, class: "nav-link text-white"%>  
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link text-white"%>  
      </li>      
    </ul>
  </li>

  <li class="nav-item">
    <span class="nav-link fw-bolder text-white">Legal</span>
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to "Terms of Service", terms_path, class: "nav-link text-white"%>
      </li>
      <li class="nav-item">
        <%= link_to "Privacy Policy", privacy_path, class: "nav-link text-white"%>
      </li>
    </ul>    
  </li>
  <li class="nav-item">
    <span class="nav-link fw-bolder text-white">Resources</span>
    <ul class="nav flex-column">
      <% policy_scope(Post.all.order(created_at: :desc)).each do |post| %>
        <% cache post do %>
          <li class="nav-item">
            <%= link_to post.title, post, class: "nav-link text-white"%>
          </li>
        <% end %>
      <% end %>
    </ul>    
  </li>  
</ul>