<div class="bg-white shadow-sm position-relative">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between py-3">
      <%= link_to root_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-primary text-decoration-none" do %>
        <svg width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
          <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM9.265 6.734a.258.258 0 00-.245-.331.257.257 0 00-.245.181l-2.049 6.658a.257.257 0 00.245.331.257.257 0 00.245-.18l2.049-6.659zm.342 1.28a.258.258 0 000 .363l1.612 1.611-1.612 1.611a.258.258 0 00.181.438.256.256 0 00.181-.075l1.793-1.793a.256.256 0 000-.362L9.969 8.014a.256.256 0 00-.362 0zm-3.223 0a.257.257 0 010 .363L4.773 9.988l1.611 1.611a.257.257 0 01-.362.363l-1.793-1.793a.256.256 0 010-.362l1.793-1.793a.256.256 0 01.362 0zM.8 1c-.439 0-.8.361-.8.8V3c0 .439.361.8.8.8h14.4c.439 0 .8-.361.8-.8V1.8c0-.439-.361-.8-.8-.8H.8z" fill="#4f46e5"/>
        </svg>
      <% end %>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-lg-0">
        <% unless current_user %>
          <li><%= link_to "Demo", demo_path, class: "nav-link px-2 link-secondary" %></li>
          <li><%= link_to "Resources", posts_path, class: "nav-link px-2 link-secondary" %></li>
          <li><%= link_to "FAQs", faqs_path, class: "nav-link px-2 link-secondary" %></li>
          <li><%= link_to "Pricing", pricing_path, class: "nav-link px-2 link-secondary" %></li>
        <% else %>
        <% if current_user.on_generic_trial? || current_user.subscribed? %>
          <li><%= link_to "My Sites", websites_path, class: "nav-link px-2 link-secondary" %></li>
        <% end %>
        <li><%= link_to "My Account", edit_user_registration_path, class: "nav-link px-2 link-secondary" %></li>
        <li><%= link_to "Billing", subscription_path, class: "nav-link px-2 link-secondary" %></li>        
        <% end %>
      </ul>
      <div class="col-lg-3 text-end">
        <% unless current_user %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-link text-decoration-none me-2" %>
          <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
        <% end %>
      </div>
    </header>
  </div>
</div>

