<% content_for :page_title do %>
  <% @title %>
<% end %>
<% content_for :column_one do %>
  <% if @zone_file.present? %>
    <%= render partial: "zone_files/zone_file", locals: { zone_file:  @zone_file, headline: "Current DNS Records" } %>
  <% else %>
    <%= turbo_stream_from(@archive.user, :zone_files) %>
    <div id="archive_zone_file" class="d-flex justify-content-center align-items-center mb-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span class="ms-3">Retrieving DNS Records. Check back later.</span>
    </div>
  <% end %>
<% end %>
<% content_for :column_two do %>
  <% if @screenshot.present? %>
    <%= render partial: "screenshots/screenshot", locals: { screenshot: @screenshot } %>
  <% else %>
    <%= turbo_stream_from(@archive.user, :screenshots) %>
    <%= turbo_stream_from(@archive.user, :stats) %>
    <%= turbo_stream_from(@archive.user, :html_documents) %>  
    <div id="archive_screenshot" class="d-flex justify-content-center align-items-center mb-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="ms-3">Generating screenshot. Check back later.</span>
    </div>
  <% end %>
<% end %> 