<%= form_with model: @post, local: true do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: f.object } %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :meta_description %>
        <%= f.text_area :meta_description, class: "form-control h-auto" %>
    </div>
    <div class="form-group">
        <%= f.label :slug %>
        <%= f.text_field :slug, required: true, class: "form-control h-auto" %>
    </div>    
    <div class="form-group">
        <%= f.label :status %>
        <%= f.select(:status, Post.statuses.keys.map {|status| [status.titleize,status]}, {}, class: "form-control" ) %>
    </div>
    <div class="form-group">
        <%= f.label :featured_image %>
        <%= f.file_field :featured_image, class: "form-control" %>
    </div>    
    <div class="form-group">
        <%= f.label :content %>
        <%= f.rich_text_area :content, class: "form-control h-auto" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class:  "btn btn-link text-danger" if @post.persisted? %>    
<% end %>
