<article class="mb-4">
    <h2><%= link_to post.title, post, class: "text-dark" %></h2>
    <p class="text-dark">Last updated on <%= post.updated_at.strftime("%B %e, %Y") %></p>
    <hr/>
    <p><%= truncate(post.content.to_plain_text, length: 160) %></p>
    <div class="flex">
        <%= link_to "Read More", post %>
        <%= link_to "Edit", edit_post_path(post), class: "ml-2" if policy(post).edit? %>
    </div>
</article>