<h1><%= @post.title %></h1>
<%= render "byline" %>
<% if policy(@post).edit? %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <hr/>
<% end %>
<article>
  <%= sanitize @post.content.body.to_html, tags: %w(div strong em a strike h1 blockquote pre ul ol li br), attributes: %w(href) %>
</article>
<%= render partial: "shared/cta", formats: :html unless current_user %>
