<% content_for :page_title do %>
    <%= @post.title %>
<% end %>
<% content_for :sub_head do %>
  <% if @post.featured_image.attached?%>
    <div class="mb-5">
      <amp-img src="<%= url_for @post.featured_image.variant(resize_to_fill: [1200, 400, { gravity: 'North' }]) %>" width="1200" height="400" layout="responsive"></amp-image>
    </div>
  <% end %>  
  <%= render "byline" %>
<% end %>
<% if policy(@post).edit? %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <hr/>
<% end %>
<article class="prose">
  <%= sanitize @post.content.body.to_html, tags: %w(div strong em a strike h1 h2 h3 h4 h5 h6 blockquote pre ul ol li br), attributes: %w(href) %>
</article>
<%= render partial: "shared/cta", formats: :html unless current_user %>